* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5px;
  background: #e0e0e0;
}

h1,
h2,
p {
  font-family: Arial, Helvetica, sans-serif;
}

header nav {
  background: white;
  border-radius: 5px;
  padding: 10px;
}

header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

header nav ul li {
  padding: 5px;
  margin: 0 10px;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #31b7ff;
}

.title {
  margin: 20px 15px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  margin: 10px 0;
}

.profile_img {
  padding: 10px;
  position: relative;
}

.profile_img img {
  height: 200px;
  border-radius: 50%;
}

.emoji {
  position: absolute;
  display: flex;
  background: white;
  border-radius: 25px;
  align-items: center;
  padding: 0px 5px;
  bottom: 15px;
  right: 15px;
}

.emoji img {
  height: 25px;
  width: 25px;
}

.emoji p {
  padding: 10px 5px;
  margin: 0;
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 80%;
  padding: 15px;
  border-left: 1px solid white;
}

.profile_info_title {
  padding: 10px;
  margin: 0;
}

.profile_info_data {
  padding: 10px;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  padding: 15px;
  margin: 0px 10px;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 25%;
  position: relative;
  min-width: 245px;
}

.card div:first-of-type {
  margin-bottom: 10px;
}

.card_title,
.card_date {
  margin: 0;
}

.card_date {
  color: grey;
  font-size: 14px;
}

.card_description p {
  margin-bottom: 5px;
}

.card_description ul {
  padding: 0 0 0 15px;
}

.card_description ul li {
  padding: 5px;
}

.badge {
  position: absolute;
  top: -10px;
  right: 5px;
  background: #ee4a00;
  padding: 5px;
  border-radius: 10px;
}

.badge h4 {
  margin: 0;
  font-weight: 500;
}

.input_container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form_container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

form {
  width: 35%;
}

.input_container input {
  border-radius: 20px;
  border: 1px solid grey;
  height: 35px;
  padding: 5px 10px;
}

.input_container textarea {
  resize: none;
  height: 160px;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 20px;
}

.img_container {
  overflow: hidden;
  border-radius: 15px;
}

.img_container img {
  display: block;
  width: 100%;
  height: 100%;
}
